<!DOCTYPE html>
<html>
    <head>
        <title>Helping Hand</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='abou.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
{% include "menu.html" %}
          <div class="img-container">
   <div id="bannerimage"></div>
   </div>

<h1 class= "birds"><link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet">About Us</h1>
    <h2>Our problem statement is making a website that will provide resources for employment and shelter for people
    experiencing homelessness to get back on their feet.</h2>
    <h3>Specific - Austin men and women experienceing homelessness<br> </h3>
      <h3>Measureable - the downtown Austin area<br>  </h3>
      <h3>Attainable - for being realistic they passsed a law that stopped the arresting of people experiencing homelessness
      sleeping on the sidewalks and enforced the Runaway Youth Act that provides states with funding to support
      youth expected to age out of foster care and youth ages 18 to 21 <br> </h3>
     <h3> Relevant - its connected because homelessness is a big problem in Austin right now <br> </h3>
      <h3>Timebound - I don´t believe that homelessness could not be solved completely in a short amount of time, but could be handled   <br>  </h3>

        <div id= "rocio"></div>
       <h4 class= "center"> Rocio Montero <br>
       <!--<img src="https://www.pythonanywhere.com/user/yariknyn11/files/home/yariknyn11/rocio%20.JPG" style="width:20%"> --><br>
       I am 15 years old and I attend Del Valle High school as a sophomore. My hobbies include taking care of my dogs and hanging out with my family. I am interested in going into the Air Force in my future and pursue a career in computer science or engineering</h4>
     <div id= "yaritza"></div>
      <h5 class= "center"> Yaritza Kenyon<br>
     <!-- <img src="https://www.pythonanywhere.com/user/yariknyn11/files/home/yariknyn11/IMG-2915.jpg" style="width:25%"> --><br>
       I ́m 16 years old and I attend Del Valle High School as a junior. I enjoy painting and making people smile. For my future I plan on pursuing a career in computer science and getting a job at a tech company. </h5>
      <div id= "shien"></div>
      <h6 class= "center"> Shien Naranjo<br>
       Hi my name is Shien Naranjo. I’m a senior at Del Valle High School. Some things I like to do is hangout with my family and friends. I like to be outside, I also enjoy driving around Austin. After high school I would like to become a Nurse Practitioner.
       The college I would be going to is Capital Idea. Then I would transfer to a university.  </h6>


<p class= "center"><a href="#nav">Top of the Page</a></p>
   </body>

</html>

