<!DOCTYPE html>
<html>
    <head>
        <title>Helping Hand</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    </head>
    <body>
         <ul>
  <li><a href="#home">Home</a>
  </li>
  <li class="dropdown"><a href="#seekhelp">Seek Help</a>
  <div class="dropdown-content">
      <a href="#">Homeless</a>
      <a href="#">Additional Resources</a>

    </div></li>
  <li class="dropdown"><a href="#getinvolved">Get Involved</a>

  <div class="dropdown-content">
      <a href="#">Volunteering</a>
      <a href="#">Donate</a>
    </div></li>
  <li class="dropdown"><a href="#about">About Us</a></li>
</ul>
<h1>Home</h1>

<p>Homelessness</p>
    </body>
</html>
